@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  box-sizing: border-box;
}

body {

  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

p {
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

.main-page-wrapper {
  background: url(./img/body_img.jpg) center top -7px no-repeat;
}

.container {
  margin: 0 auto;
  width: 1141px;

}

.header {
  height: 120px;
  position: relative;
  margin-bottom: 70px;
}

.logo {
  display: block;
  position: absolute;
  top: 22px;
  left: 0px;
}

.menu {
  top: 34px;
  left: 164px;
  position: absolute;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 51px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.contacts {
  top: 20px;
  right: 0px;
  position: absolute;
  font-style: normal;
  text-align: right;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: -8px;
  display: block;
}

.contacts__schedule {
  margin-left: 1px;
  font-size: 13px;
  text-decoration: underline;
  display: block;
}

.hero {
  margin-bottom: 244px;
}

.hero__text-section {
  width: 511px;
}

.hero__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.35;
  margin-bottom: 28px;
}

.hero__text {
  font-size: 18px;
  margin-bottom: 29px;
}

.btn {
  background: #fff;
  color: #F5170E;
  border-radius: 30px;
  padding: 18px 40px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

.btn--border--red {
  border: 1px solid #F5170E;
  margin-left: 24px;
  padding: 17px 29px;
}

.btn:hover {
  background: #F5170E;
  color: #fff;
}

.section {
  margin-bottom: 125px;
}

.section__title {
  margin-bottom: 51px;
  display: inline-block;
  vertical-align: middle;
  position: relative;

}

.section__title-text {
  font-size: 36px;
  font-weight: 700;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.offers__item {
  min-height: 449px;
  border-radius: 5px;

}

.section__title-icon {

  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 3px;
}

.offers {
  display: inline-block;
  color: #000;
}

.offers__item {
  background-color: #fff;
  display: inline-block;
  min-height: 448px;
  margin-right: 23px;
  width: 362px;
}

.offers__item:last-child {
  margin-right: 0;
}

.offers__name {

  font-size: 24px;
  font-weight: 700;
  display: block;
  padding-top: 27px;
  padding-left: 22px;
}

.offers__info {
  margin-bottom: 25px;
}

.offers__info-item {
  display: inline-block;
  padding-left: 28px;
  padding-top: 21px;
}

.offers__info-icon {
  padding-right: 6px;
  vertical-align: middle;
  display: inline-block;

}

.offers__info-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}

.offers__description {
  padding-left: 21px;
  margin-bottom: 25px;
}

.news {
  display: inline-block;
  margin-top: 50px;
  white-space: nowrap;

}

.news__item {
  width: 557px;
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin-right: 20px;
  border: none;
  margin-bottom: 50px;
}

.news__item:last-child {
  margin-right: 0;
}

.news__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__text-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0px 30px;
  min-height: 140px;


}

.news__date {
  font-size: 14px;
  margin-bottom: 12px;
  display: block;


}

.news__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
  display: block;


}

.news__description {
  font-size: 16px;
  display: block;
  margin: 0;
  white-space: wrap;
}

.paginator {
  text-align: center;
  position: relative;
  margin-bottom: 143px;

}

.paginator__display {
  position: absolute;
  font-size: 16px;
  left: 381px;
  top: 50%;
  transform: translateY(-50%);
}

.paginator__list {
  display: inline-block;
  margin-left: 164px;
  padding: 2px;

}

.paginator__item {
  display: inline-block;

}

.paginator__link {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  line-height: 32px;
  font-weight: 700;
  overflow: hidden;
  text-align: center;
  overflow: hidden;
  background: transparent;
  font-size: 16px;
}



.paginator__item--active .paginator__link {
  background: #fff;
  color: #F5170E;

}

.about {
  white-space: nowrap;

}

.about__img::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  height: 505px;
  width: 490px;
  background: url(./img/gates.png) center center / cover no-repeat;
  border-radius: 5px;


}

.about__info {
  color: black;
  position: relative;
  height: 455px;
  z-index: 1;
  margin-top: -408px;
  margin-left: 352px;
  border-radius: 5px;

}

.about__info::before {
  content: "";
  display: block;
  height: 455px;
  width: 785px;
  background: url(./img/mountains.png) center center / cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

}

.about__description {
  padding-top: 70px;
  padding-left: 82px;
}

.about__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 37px;
  top: 10px;
}

.about__text {
  font-size: 16px;
  width: 502px;
  height: 135px;
  white-space: wrap;
  line-height: 27px;
  margin-bottom: 42px;
}

.about--section {
  margin-bottom: 81px;
}

.footer {
  height: 93px;
  position: relative;
  margin-top: 25px;

}

.footer-container__content {
  border-top: 1px solid #FFF;
  margin-top: -25px;
}

.contacts__desc {
  font-size: 11px;
  color: #9A9A9A;
}

.socials__link {
  display: block;
  width: 36px;
  height: 36px;
  text-decoration: none;
  background: center center no-repeat;
  background-size: cover;
  position: relative; 
}

.socials {
  top: 25px;
  right: 257px;
  position: absolute;
}

.socials__icon {
  display: none;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}

.socials-item:last-child {
  margin-right: 0;
}

.socials__icon {
  display: block;
  width: 36px;
  height: 36px;
}

.socials__icon::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}


.socials__link--type--telegram .socials__icon::before {
  background-image: url(./img/telegram.png);
}

.socials__link--type--vk .socials__icon::before {
  background-image: url(./img/vk.png);
}

.socials__link--type--facebook .socials__icon::before {
  background-image: url(./img/f.png);
}

.socials__link--type--instagram .socials__icon::before {
  background-image: url(./img/in.png);
}

